<h2>Editing "<%= @author.name %>"</h2>

<%= form_tag author_path(@author), method: "patch" do %>
  <div class="field <%= ' field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <div class="field <%= ' field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <p>Must be either "Fiction" or "Non-Fiction".</p>
    <%= text_field_tag "email", @author.email %>
    <p>
      Please type carefully as our top scientists are working around the clock to
      enable state-of-the-art dropdown technology for this form field.
    </p>
  </div>

  <div class="field <%= ' field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= label_tag "phone_number", "Phone Number" %>
    <br />
    <%= text_area_tag "phone_number", @author.phone_number %>
  </div>
  <%= submit_tag "Update" %>
<% end %>

